{% extends './layaout.html' %}

{% block CSSPersonalizado %}

{% endblock %}

{% block titulo %}Perfil {{ current_user.usuario }}{% endblock %}

{% block body %}
<br><br><br>
<div class="container">
    <h1>Perfil de {{ current_user.usuario }}</h1>
    <ul>
        <li>Nombre: {{ current_user.nombre }}</li>
        <li>Apellido: {{ current_user.apellido }}</li>
        <li>Fecha de Nacimiento: {{ current_user.fnacimiento }}</li>
        {% if current_user.genero == "H" %}
            <li>Genero: Hombre</li>
        {% elif current_user.genero == "M" %}
            <li>Genero: Mujes</li>
        {% endif %}
        <li>{{ current_user.telefono }}</li>
        {% if current_user.foto != NULL %}
            <li>
                <img src="{{ url_for('static', filename='img/Donal.png') }}" class="w-25 img-fluid" alt="">
            </li>
        {% endif %}

    </ul>
</div>
{% endblock %}